@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Great+Vibes|Parisienne|Tangerine');

body {
  background-color: #EEEEE0;
}

.col-md-3 {
  padding: 0;
}

/*/////Header stuff/////*/
.header {
  margin: 0;
  background-color: rgb(152,182,161);
  padding: 1%;
  width: 100%;
}

#header-title{
  color: #ff4f00;
}

.header a{
  font-family: 'Great Vibes', serif;
  color: black;
  text-decoration: none;
  font-size: 3em;
}

.header * {
  text-align: center;
}

/*///// Carousel fixes /////*/
#scroll-strip {
  height: 0.5em;
  background-color: #ff4f00;
  width: 100%;
  margin: 0px;
}

/*////// Left Nav styles /////*/
.link-item {
  font-family: 'Great Vibes', serif;
  font-size: 3em;
  list-style-type: none;
  text-decoration: none;
  color: black;
  padding-top: 1em;
}
.link-item a {
  color: black;
}

.link-item a:visited{
  color: black;
  text-decoration: none;
}
