@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Great+Vibes|Parisienne|Tangerine');

.col-md-3 {
  padding: 0;
}

/*/////Header stuff/////*/
.header {
  margin: 0;
  background-color: rgb(152,182,161);
  padding: 1%;
  width: 100%;
}

#header-title{
  color: #ff4f00;
}

#drop {
  background-color: rgba(0,0,0,0);
}

#drop {
  border-color: rgba(0,0,0,0);
}
.btn-primary:focus {
    box-shadow: none !important;
}

.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

#drop:focus{
  border-color: rgba(0,0,0,0) !important;
}

.header a{
  font-family: 'Great Vibes', serif;
  color: black;
  text-decoration: none;
  font-size: 3em;
}

.header * {
  text-align: center;
}


.header a:hover{
  color: white;
}

.header a:visited{
  color: black;
  text-decoration: none;
}

.dropdown {
  padding: 0;
}

div.dropdown.btn-group {
  margin-left: 29%;
}

.dropItem {
  padding-left: 0;
}

#drop {
  font-size: 1.75em;
  color: white;
  padding: 0;
  margin-left: 30%;
}

#scroll-strip {
  height: 0.5em;
  background-color: #ff4f00;
  width: 100%;
  margin: 0px;
}

#drop-link{
  margin-left: 5%;
}
