@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Amatic+SC|Open+Sans+Condensed|Inconsolata');

body {
  background-color: #EEEE0;
}

.col-md-3 {
  padding: 0;
}

#content {
  margin-top: 7em;
}

/*/////Header stuff/////*/
.header {
  position:fixed;
  top:0;
  z-index: 100;
  margin: 0;
  background-color: rgba(255,79,0, 0.75);
  padding: 1%;
  width: 100%;
  height:7em;
}

#header-title{
  color: #EEE;
}

.header a{
  font-family: 'Amatic SC', serif;
  font-weight: 900;
  letter-spacing: 8.6px;
  color: black;
  text-decoration: none;
  font-size: 3em;
}

.header * {
  text-align: center;
}

/*///// Carousel fixes /////*/
#scroll-strip {
  height: 0.5em;
  background-color: #ff4f00;
  width: 100%;
  margin: 0px;
}

/*////// Left Nav styles /////*/
.link-item {
  font-family: 'Amatic SC', serif;
  font-size: 3em;
  list-style-type: none;
  text-decoration: none;
  color: #073E66;
  padding-top: 1em;
}
.link-item a {
  color: #073E66;
}

.link-item a:visited{
  color: #073E66;
  text-decoration: none;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .header a{
    font-size: 9em !important;
  }

  .header {
    height: 13em;
  }

  #content {
    margin-top: 13em;
  }
  .inner-about-container {
    font-size: 9em;
  }

  .about-title {
    font-size: 1em;
  }

  .link-item {
    font-size: 6em;
  }
}
